body {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(252, 196, 206 , 50%);
    margin: 50px;
}

img {
    max-width: 50%;
    border-radius: 100px;
}

h1 {
    color: orchid;
}

h2 {
    color: blueviolet;
}

h4 {
    color: darkolivegreen;
}

p {
    color:orchid;
}

a {
    text-decoration: none;
    color: orchid;
}

a:hover {
    text-decoration: underline;
    color: rgb(181, 62, 177);
}

ul {
    color:rgb(113, 141, 66);
    list-style: none;
}

li {
    background-color: white;
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    border: 1px solid;
    border-color: green;
}

li:hover {
    background-color: rgb(193, 228, 121);
}

#progress {
    background-color: rgb(246, 246, 173);
}

#progress:hover {
    background-color: rgb(193, 228, 121);
}
